body {
    background-color: #FFF5E4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation:fadein 2s ease;
    font-family: 'Arial', sans-serif;
}
@keyframes fadein{
    from{
        opacity:0.5;
    }
    to{
        opacity:1;
    }
}
.orange{
    background-color: #fbedd4;
    border-radius:20%;
    box-shadow:.1vh .1vh .1vh .1vh grey;
    animation:bubble 8s ease-in infinite;
    transform:rotate(45deg);
    box-shadow:1px 1px 10px rgb(255, 205, 129);
}
#loc{
    width:40vh;
    height:40vh;
    position:absolute;
    top:-10px;
    left:-10vh;
    z-index:-1;
}
#loc1{
    width:10px;
    height:10px;
    position:absolute;
    top:60vh;
    right:30vh;
    z-index:-1;
}
#loc2{
    width:40vh;
    height:40vh;
    position:absolute;
    top:-10vh;
    right:-10vh;
    z-index:-1;
}
#loc3{
    width:40vh;
    height:40vh;
    position:absolute;
    top:70vh;
    left:30vh;
    z-index:-1;
}
@keyframes bubble{
    0%{
        width:60vh;
        height:60vh;
    }
    25%{
        width:45vh;
        height:45vh;
    }
    50%{
        width:40vh;
        height:40vh;
    }
    75%{
        width:35vh;
        height:35vh;
    }
    100%{
        width:60vh;
        height:60vh;
    }
    
}
table{
    font-size:80%;
    background-color: #FFF5E4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 600px;
    text-align: center;
    border-width:10px;
    border-color:#FFA725;
}
h1{
    color: #FF8C00;
    font-size: 2em;
    margin-bottom: 20px;
    position:fixed;
    top:2%;
}