body{
    background-color:#dad9d9;
    height:12vh;
    font-family:Arial, sans-serif;
}
#container{
    width:64%;
    height:85%;
    position:fixed;
    top:2%;
    left:30%;
    border-radius:90px;
    padding:30px;
    display:flex;
    flex-direction:column;
    justify-content:start;
    overflow-y:scroll;
    overflow-x:hidden;
}
#container1{
    background-color:#f69605;
    width:50%;
    height:98%;
    border-radius:90px;
    position:fixed;
    top:2%;
    left:30%;
    box-shadow:2px 2px 10px black;
}
span{
    font-family:'comic sans ms';
    margin:0px 15px 0px 0px;
    width:10%;
    height:50%;
}
.infoarea{
    display:flex;
    flex-wrap:nowrap;
    align-content:center;
    justify-content:center;
    flex-direction:column;
    font-size:medium;
    width:100%;
    height:90px;
    color:#a5752d;
    background-color:#f6d39f;
    border:none;
    margin:9px 0px 9px 0px;
    border-radius:20px;
    padding:5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation:fadein 1s;
    transition:1s;
    max-height:90px;
    min-height:90px;
}

.infoarea:hover {
    transform: translateY(-9px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@keyframes fadein {
    from{
        transform:translateY(100px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        overflow:1;
    }
}
#block{
    width:7%;
    height:50%;
    background-color:#f69605;
    border-radius:20px;
    padding:10px;
}
.timer{
    font-size:1rem;
    font-family:'comic sans ms';
    display:flex;
    justify-content:center;
    align-items:center;
    width:150%;
    height:100%;
    border-radius:30px;
    padding:1px;
    background-color:#dad9d9;
    border-bottom:2px solid black;
    border-right:2px solid black;
}
